
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "navbar"
    "main"
    "footer";
    height: 100vh;
}

nav {
    min-height: 80px;
    max-height: 80px;
    top: 8px;
    position: sticky;
    grid-area: navbar;
    display: flex;
    background-color: #003f05;
    color: white;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    justify-content: end;
}

#logo {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    margin-right: auto;
}

#nav-links {
    color: white;
}

main {
    grid-area: main;
    padding: 20px;
    border-radius: 5px;
    background-color: #e9ecef;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

button {
    background-color: #003f05;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #003f05;
}

footer {
    bottom: 0;
    grid-area: footer;
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
}

footer a {
    color: #00890b;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}